@tailwind base;
@tailwind components;
@tailwind utilities;

.text-label{
  position: absolute; 
  top: -33px;
  left: 92px;
  font-size: 1rem;
  color: white;
  transition: all 0.5s ease;
}

#inputText:placeholder-shown ~ .text-label {
  top: 10px;
  cursor: text;
  color: #202020;
}